:root {
    --color1: rgb(18, 19, 19);
    --color2: white;
    --color3: black;
    --color4: #F3F8FA;
    --color5: rgb(139, 195, 74);
    --color6: rgb(205, 220, 57);
    --color7: rgb(255, 64, 129);
    --color8: #EAFDE7;
    --gradient1: linear-gradient(45deg, rgb(255, 64, 129) 30%, rgb(255, 152, 0) 90%);
    --gradient2: linear-gradient(45deg, rgb(139, 195, 74) 30%, rgb(205, 220, 57) 90%);
    --gradient3: linear-gradient(45deg, rgb(139, 195, 74) 30%, rgb(205, 220, 57) 90%);
}
.topBackground{
    background-image: url("../Images/software.jpg");
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.topBackgroundOverlay{
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.content{
    display: flex;
    position: absolute;
    top: 50% !important;
    justify-content: center;
}
.logoImg{
    width: 100px;
    height: 50px;
}
.navBackground{
    background-color: rgba(0,0,0,0.6) !important;
    height: 50px;
    padding: 0;
    transition: 0.2s;
}
.navBackgroundScroll{
    background-color: white !important;
    height: 50px;
    padding: 0;
    transition: 0.2s;
}
.navLink{
    color: var(--color2);
    font-size: 20px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    text-decoration: none;
    margin: 0 10px;
}
.navLinkScroll{
    color: var(--color1);
    font-size: 20px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    text-decoration: none;
    margin: 0 10px;
}
.navLink:hover{
    color: var(--color4);
    transition: 0.3s;
}
.navLinkScroll:hover{
    color: black;
    transition: 0.3s;
}
.footerIconDiv{
    text-align: center;
    width: 100%;
    background-color: var(--color8);
    padding: 16px;
}
.footerLink{
    text-decoration: none;
    font-size: 20px;
    font-family: Montserrat, serif;
    font-weight: 500;
    margin: 0 5px;
    color: var(--color5);
}
.footerLink:hover{
    color: #000000;
    transition: 0.2s;
}
.footerCredit{
    text-align: center;
    background-color: var(--color5);
    color: black;
    font-family: sans-serif;
}
.footerCredit a{
    text-decoration: none;
    color: black;
}
.footerCredit a:hover{
    color: var(--color5);
    transition: 0.3s;
}
.title{
    font-size: 22px;
    font-family: Montserrat, serif;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color3);
}
.title1{
    font-size: 15px;
    font-family: Montserrat, serif;
    font-weight: 500;
    color: var(--color3);
}
.subTitle{
    font-size: 19px;
    font-family: Roboto, serif;
    font-weight: 500;
    color: var(--color7);
}
.description{
    font-size: 16px;
    font-family: Montserrat, serif;
    font-weight: 400;
    line-height: 1.6rem;
    color: var(--color3);
}
.resumeDescription{
    font-size: 14px;
    font-family: Montserrat, serif;
    font-weight: 400;
    color: var(--color7);
}
.boldDescription{
    font-size: 16px;
    font-family: Montserrat, serif;
    font-weight: 500;
    color: black;
}
.projectDetails{
    background-color: var(--color8);
    padding: 20px 0 20px 0 ;
    min-height: 460px;
}
.projectFeature{
    background-color: var(--color5);
    padding: 20px 0 20px 0 ;
}

.profileImg {
    width: 100%;
    height: auto;
}
.skillBg{
    background-color: var(--color4);
    min-height: 63vh;
}
.cardBg{
    background-color: var(--color8);
    margin-top: 5px;
}
.cardImg{
    width: 100%;
    height: 176px;
    border-radius: 5px 5px 0 0!important;
}
.projectTopBg{
    background-image: url("../Images/software.jpg");
    width: 100%;
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.projectTopBgOverlay{
   background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.minHeight{
    min-height: 100vh;
}
.aboutImg{
    background-color: var(--color4);
    padding: 20px;
    width: 100%;
    height: auto;
    max-height: 1000px;
}
.aboutMeRow{
    background-color: var(--color4);
    padding: 30px;
}
.aboutImgCol{
    position: relative;
    background-color: var(--color2);
    padding: 30px;
}
.aboutRightCol{
    background-color: #EAFDE7;
    padding: 20px;
}
.aboutRightDiv{
    background-color: var(--color2);
    padding: 30px;
}
.iconDiv{
    position: absolute;
    bottom: 24px;
    left: 30%;
}
.commonBtn{
    border: 1px solid var(--color5);
    background-color: var(--color5);
    padding: 8px 15px;
    font-family: Montserrat, serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}
.commonBtn:hover{
    background-color: #EAFDE7;
    border: 1px solid var(--color3);
}
.countBg{
    width: 100%;
    height: 180px;
    background-size: cover;
    background: url("../Images/countingBg.jpg") no-repeat fixed center;
}
.countBgOverlay{
    width: 100%;
    height: 180px;
    background-size: cover;
    background: rgba(0,0,0,0.5) no-repeat fixed center;
    padding: 10px;
}
.rmb-5{
    margin-top: 10px;
    margin-bottom: 20px;
}

.projectImg{
    width: 100%;
    min-height: 330px;
    height: auto;
}