@media screen and (max-width: 766.33px) {
    .logoImg {
        margin-top: -8px;
    }
    .navbar-toggler {
        margin-top: -5px!important;
        color: white!important;
    }
    .navbar-toggler:focus,
    .navbar-toggler:active {
        outline: none;
        box-shadow: none;
    }
    .navbar-toggler-icon {
        font-size: 17px!important;
        padding: 0!important;
        margin-top: -5px;
        border: none!important;
    }
    .navbarScroll {
        background-image: var(--gradient2);
        width: 100% !important;
        z-index: 1000!important;
        margin-top: -1px;
        position: relative;
        color: black!important;
        padding: 0 40px;
    }


}
@media screen and (max-width: 360px){
    .navBackground{
        height: 40px;
        padding: 0!important;
    }

    .logoImg{
        margin-left: 10px;
        width: 90px;
    }
    .navbar-toggler{
        margin-right: 10px;
        margin-top: 0!important;
    }
    .topBackground{
        height: 200px;
    }
    .topBackgroundOverlay{
        height: 200px;
    }
}

