.resumeProfile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.resumeLeft{
    background-color: #27313e;
    /*background-image: var(--gradient3);*/
    border-radius: 20px 0 0 20px;
    padding: 0 0 0 15px !important;
}
.resumeRight{
    padding: 10px 0 10px 30px !important;
}
.resumeBody{
    border: 1px solid silver;
    margin: 0 40px;
    border-radius: 20px;
}
.hrClass{
    margin: 0;
}
.btnBody{
    margin: 0 40px;
}
.btnDownload{
    background-image: var(--gradient2);
    font-family: Montserrat, serif;
    font-weight: 500;
    font-size: 17px;
    color: white;
    border-radius: 20px;
    border: none;
}
.btnDownload:hover{
    background-image: var(--gradient1) !important;
    color: black;
}