.pl-3{
  padding-right: 8px;
}
.pr-3{
  padding-right: 10px;
}
.ml-3{
  margin-left: 20px;
}
.mr-3{
  margin-right: 20px;
}
.navbar-toggler{
  margin-right: 20px!important;
}
.pr-lg-3{
  padding-right: 30px!important;
}
.mbNeg{
  margin-bottom: -4px;
}
.pc-1{
  padding: 2px!important;
}